html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  text-align: center;
  min-height: 100vh;
}

main {
  color: #ffffff;
}

span {
 color:darkmagenta;
}

li {
  list-style-type: none;
}

h2 {
  color: red;
}

h3 {
  color: yellow;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
}

.my-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 389px;
  width: 389px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../img/avatar.jpg);
  background-repeat: no-repeat;
  background-position: -280px -300px;
  border: 13px solid #fff;
  margin-bottom: 50px;
}


